In [1]:



import os
# import urllib2
import pandas as pd
import urllib.request, json
from pprint import pprint
from pandas.io.json import json_normalize

In [2]:
with urllib.request.urlopen("https://covidtracking.com/api/states") as url:
    state_data = json.loads(url.read().decode())
#     pprint(state_data)

In [3]:
state_data_df = json_normalize(state_data[0:51]) 
state_data_df.head()

,state,positive,positiveScore,negativeScore,negativeRegularScore,commercialScore,grade,score,negative,pending,...,death,hospitalized,total,totalTestResults,posNeg,fips,dateModified,dateChecked,notes,hash
0,AK,337,1,1,1,1,A,4,11824,NaN,...,9,NaN,12161,12161,12161,02,2020-04-23T18:00:00Z,2020-04-23T19:36:00Z,"Please stop using the ""total"" field. Use ""tota...",51b52a9a3f56d10feb9e4a121f1d7f61d8496826
1,AL,5832,1,1,0,1,B,3,46863,NaN,...,197,768.0,52695,52695,52695,01,2020-04-23T04:00:00Z,2020-04-24T02:16:00Z,"Please stop using the ""total"" field. Use ""tota...",5a07c1d59e3a3083d37dbb6d05442509c9f48b94
2,AR,2465,1,1,1,1,A,4,29125,NaN,...,45,291.0,31590,31590,31590,05,2020-04-23T18:48:00Z,2020-04-23T19:43:00Z,"Please stop using the ""total"" field. Use ""tota...",9a82ff63b5fbdd28fdd37fd1cde5fc41b661ca7d
3,AZ,5769,1,1,0,1,B,3,52928,NaN,...,249,NaN,58697,58697,58697,04,2020-04-23T04:00:00Z,2020-04-23T19:47:00Z,"Please stop using the ""total"" field. Use ""tota...",30b6e0314763bb2bac3e283833d923f8d2093b52
4,CA,37369,1,1,0,1,B,3,444728,NaN,...,1469,NaN,482097,482097,482097,06,2020-04-22T04:00:00Z,2020-04-23T20:25:00Z,"Please stop using the ""total"" field. Use ""tota...",c66dcdd10e4a90f6254ae1adebae979f5f45f219

In [4]:
popul = os.path.join('./Resources/population.csv')
popul_df = pd.read_csv(popul)
popul_df.columns = ['state', 'population', 'pop (mil)']
# popul_df.dtypes

In [5]:
# concot_df = pd.concat([state_data_df, popul_df], axis=1, sort=False, join='inner')
concot_df2 = pd.merge(state_data_df,
                 popul_df[['state', 'pop (mil)']], on='state')

concot_df2.head()

,state,positive,positiveScore,negativeScore,negativeRegularScore,commercialScore,grade,score,negative,pending,...,hospitalized,total,totalTestResults,posNeg,fips,dateModified,dateChecked,notes,hash,pop (mil)
0,AK,337,1,1,1,1,A,4,11824,NaN,...,NaN,12161,12161,12161,02,2020-04-23T18:00:00Z,2020-04-23T19:36:00Z,"Please stop using the ""total"" field. Use ""tota...",51b52a9a3f56d10feb9e4a121f1d7f61d8496826,0.73
1,AL,5832,1,1,0,1,B,3,46863,NaN,...,768.0,52695,52695,52695,01,2020-04-23T04:00:00Z,2020-04-24T02:16:00Z,"Please stop using the ""total"" field. Use ""tota...",5a07c1d59e3a3083d37dbb6d05442509c9f48b94,4.90
2,AR,2465,1,1,1,1,A,4,29125,NaN,...,291.0,31590,31590,31590,05,2020-04-23T18:48:00Z,2020-04-23T19:43:00Z,"Please stop using the ""total"" field. Use ""tota...",9a82ff63b5fbdd28fdd37fd1cde5fc41b661ca7d,3.02
3,AZ,5769,1,1,0,1,B,3,52928,NaN,...,NaN,58697,58697,58697,04,2020-04-23T04:00:00Z,2020-04-23T19:47:00Z,"Please stop using the ""total"" field. Use ""tota...",30b6e0314763bb2bac3e283833d923f8d2093b52,7.28
4,CA,37369,1,1,0,1,B,3,444728,NaN,...,NaN,482097,482097,482097,06,2020-04-22T04:00:00Z,2020-04-23T20:25:00Z,"Please stop using the ""total"" field. Use ""tota...",c66dcdd10e4a90f6254ae1adebae979f5f45f219,39.51

In [6]:
state_covid_df = concot_df2[['state', 'pop (mil)', 'totalTestResults', 'negative','positive', 'death']]
state_covid_df.rename(columns = {'state':'State', 'pop (mil)':'Population (mil)', 'positive':'Positive Cases', 'negative':'Negative Tests',
                                 'pending':'Pending Tests', 'totalTestResults':'Total Tests','death':'Deaths'},inplace = True)
state_covid_df.set_index(['State'], inplace = True) 
state_covid_df.head()

C:\Users\jener\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

       Population (mil)  Total Tests  Negative Tests  Positive Cases  Deaths
State
AK                 0.73        12161           11824             337       9
AL                 4.90        52695           46863            5832     197
AR                 3.02        31590           29125            2465      45
AZ                 7.28        58697           52928            5769     249
CA                39.51       482097          444728           37369    1469

In [7]:
state_covid_df

       Population (mil)  Total Tests  Negative Tests  Positive Cases  Deaths
State
AK                 0.73        12161           11824             337       9
AL                 4.90        52695           46863            5832     197
AR                 3.02        31590           29125            2465      45
AZ                 7.28        58697           52928            5769     249
CA                39.51       482097          444728           37369    1469
CO                 5.76        52324           41062           11262     552
CT                 3.57        71497           48397           23100    1639
DC                 0.71        15930           12569            3361     139
DE                 0.97        16912           13604            3308      92
FL                21.48       301147          271499           29648    1006
GA                10.62       101433           79550           21883     881
HI                 1.42        26882           26291             591      12
IA                 3.16        29262           25338            3924      96
ID                 1.79        19091           17255            1836      54
IL                12.67       173316          136382           36934    1688
IN                 6.73        72040           59001           13039     706
KS                 2.91        21318           18836            2482     112
KY                 4.47        42844           39363            3481     191
LA                 4.65       143315          117576           25739    1540
MA                 6.89       195076          149053           46023    2360
MD                 6.05        80100           64363           15737     748
ME                 1.34        17721           16784             937      44
MI                 9.99       128321           93030           35291    2977
MN                 5.64        51548           48606            2942     200
MO                 6.14        59450           53129            6321     218
MS                 2.98        55389           50236            5153     201
MT                 1.07        11875           11433             442      14
NC                10.49        96185           88577            7608     253
ND                 0.76        16330           15621             709      15
NE                 1.93        18612           16488            2124      47
NH                 1.36        16809           15139            1670      51
NJ                 8.88       200148          100159           99989    5368
NM                 2.10        41232           39022            2210      71
NV                 3.08        34749           30541            4208     195
NY                19.45       695920          432460          263460   15740
OH                11.69       102325           88183           14142     656
OK                 3.96        46036           43019            3017     179
OR                 4.22        43976           41849            2127      83
PA                12.80       178708          142061           36647    1421
RI                 1.06        44419           38163            6256     189
SC                 5.15        44463           39546            4917     150
SD                 0.88        14065           12109            1956       9
TN                 6.83       123100          114834            8266     170
TX                29.00       225078          203134           21944     561
UT                 3.21        80627           77015            3612      35
VA                 8.54        64518           53891           10627     372
VT                 0.62        13852           13027             825      43
WA                 7.61       153376          140623           12753     711
WI                 5.82        56508           51456            5052     257
WV                 1.79        29116           28135             981      31
WY                 0.58         7834            7502             332       7

In [8]:
state_covid_df['% Positive Testing'] = (state_covid_df['Positive Cases'] / state_covid_df['Total Tests']) *100
state_covid_df['% Death Rate (Total Tests)'] = (state_covid_df['Deaths'] / state_covid_df['Total Tests']) *100
state_covid_df['% Death Rate (Positive Cases)'] = (state_covid_df['Deaths'] / state_covid_df['Positive Cases']) *100
state_covid_df['Tests per Million'] = (state_covid_df['Total Tests'] / state_covid_df['Population (mil)'])
state_covid_df['Positive per Million'] = (state_covid_df['Positive Cases'] / state_covid_df['Population (mil)'])
state_covid_df['Deaths per Million'] = (state_covid_df['Deaths'] / state_covid_df['Population (mil)'])


state_covid_df.round(2)

C:\Users\jener\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\jener\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\jener\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\jener\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\jener\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\jener\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Population (mil),Total Tests,Negative Tests,Positive Cases,Deaths,% Positive Testing,% Death Rate (Total Tests),% Death Rate (Positive Cases),Tests per Million,Positive per Million,Deaths per Million
State,,,,,,,,,,,
AK,0.73,12161,11824,337,9,2.77,0.07,2.67,16658.90,461.64,12.33
AL,4.90,52695,46863,5832,197,11.07,0.37,3.38,10754.08,1190.20,40.20
AR,3.02,31590,29125,2465,45,7.80,0.14,1.83,10460.26,816.23,14.90
AZ,7.28,58697,52928,5769,249,9.83,0.42,4.32,8062.77,792.45,34.20
CA,39.51,482097,444728,37369,1469,7.75,0.30,3.93,12201.90,945.81,37.18
CO,5.76,52324,41062,11262,552,21.52,1.05,4.90,9084.03,1955.21,95.83
CT,3.57,71497,48397,23100,1639,32.31,2.29,7.10,20027.17,6470.59,459.10
DC,0.71,15930,12569,3361,139,21.10,0.87,4.14,22436.62,4733.80,195.77
DE,0.97,16912,13604,3308,92,19.56,0.54,2.78,17435.05,3410.31,94.85
FL,21.48,301147,271499,29648,1006,9.85,0.33,3.39,14019.88,1380.26,46.83
GA,10.62,101433,79550,21883,881,21.57,0.87,4.03,9551.13,2060.55,82.96
HI,1.42,26882,26291,591,12,2.20,0.04,2.03,18930.99,416.20,8.45
IA,3.16,29262,25338,3924,96,13.41,0.33,2.45,9260.13,1241.77,30.38
ID,1.79,19091,17255,1836,54,9.62,0.28,2.94,10665.36,1025.70,30.17
IL,12.67,173316,136382,36934,1688,21.31,0.97,4.57,13679.24,2915.07,133.23
IN,6.73,72040,59001,13039,706,18.10,0.98,5.41,10704.31,1937.44,104.90
KS,2.91,21318,18836,2482,112,11.64,0.53,4.51,7325.77,852.92,38.49
KY,4.47,42844,39363,3481,191,8.12,0.45,5.49,9584.79,778.75,42.73
LA,4.65,143315,117576,25739,1540,17.96,1.07,5.98,30820.43,5535.27,331.18
MA,6.89,195076,149053,46023,2360,23.59,1.21,5.13,28312.92,6679.68,342.53
MD,6.05,80100,64363,15737,748,19.65,0.93,4.75,13239.67,2601.16,123.64
ME,1.34,17721,16784,937,44,5.29,0.25,4.70,13224.63,699.25,32.84
MI,9.99,128321,93030,35291,2977,27.50,2.32,8.44,12844.94,3532.63,298.00
MN,5.64,51548,48606,2942,200,5.71,0.39,6.80,9139.72,521.63,35.46
MO,6.14,59450,53129,6321,218,10.63,0.37,3.45,9682.41,1029.48,35.50
MS,2.98,55389,50236,5153,201,9.30,0.36,3.90,18586.91,1729.19,67.45
MT,1.07,11875,11433,442,14,3.72,0.12,3.17,11098.13,413.08,13.08
NC,10.49,96185,88577,7608,253,7.91,0.26,3.33,9169.21,725.26,24.12
ND,0.76,16330,15621,709,15,4.34,0.09,2.12,21486.84,932.89,19.74
NE,1.93,18612,16488,2124,47,11.41,0.25,2.21,9643.52,1100.52,24.35
NH,1.36,16809,15139,1670,51,9.94,0.30,3.05,12359.56,1227.94,37.50
NJ,8.88,200148,100159,99989,5368,49.96,2.68,5.37,22539.19,11260.02,604.50
NM,2.10,41232,39022,2210,71,5.36,0.17,3.21,19634.29,1052.38,33.81
NV,3.08,34749,30541,4208,195,12.11,0.56,4.63,11282.14,1366.23,63.31
NY,19.45,695920,432460,263460,15740,37.86,2.26,5.97,35779.95,13545.50,809.25
OH,11.69,102325,88183,14142,656,13.82,0.64,4.64,8753.21,1209.75,56.12
OK,3.96,46036,43019,3017,179,6.55,0.39,5.93,11625.25,761.87,45.20
OR,4.22,43976,41849,2127,83,4.84,0.19,3.90,10420.85,504.03,19.67
PA,12.80,178708,142061,36647,1421,20.51,0.80,3.88,13961.56,2863.05,111.02
RI,1.06,44419,38163,6256,189,14.08,0.43,3.02,41904.72,5901.89,178.30
SC,5.15,44463,39546,4917,150,11.06,0.34,3.05,8633.59,954.76,29.13
SD,0.88,14065,12109,1956,9,13.91,0.06,0.46,15982.95,2222.73,10.23
TN,6.83,123100,114834,8266,170,6.71,0.14,2.06,18023.43,1210.25,24.89
TX,29.00,225078,203134,21944,561,9.75,0.25,2.56,7761.31,756.69,19.34
UT,3.21,80627,77015,3612,35,4.48,0.04,0.97,25117.45,1125.23,10.90
VA,8.54,64518,53891,10627,372,16.47,0.58,3.50,7554.80,1244.38,43.56
VT,0.62,13852,13027,825,43,5.96,0.31,5.21,22341.94,1330.65,69.35
WA,7.61,153376,140623,12753,711,8.31,0.46,5.58,20154.53,1675.82,93.43
WI,5.82,56508,51456,5052,257,8.94,0.45,5.09,9709.28,868.04,44.16
WV,1.79,29116,28135,981,31,3.37,0.11,3.16,16265.92,548.04,17.32
WY,0.58,7834,7502,332,7,4.24,0.09,2.11,13506.90,572.41,12.07

In [9]:
state_covid_df['Tests per Million/Deaths'] = (state_covid_df['Tests per Million'] / state_covid_df['Deaths'])
state_covid_df['Tests per Million/Positive Cases'] = (state_covid_df['Tests per Million'] / state_covid_df['Positive Cases'])

state_covid_df.head()

C:\Users\jener\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\jener\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Population (mil),Total Tests,Negative Tests,Positive Cases,Deaths,% Positive Testing,% Death Rate (Total Tests),% Death Rate (Positive Cases),Tests per Million,Positive per Million,Deaths per Million,Tests per Million/Deaths,Tests per Million/Positive Cases
State,,,,,,,,,,,,,
AK,0.73,12161,11824,337,9,2.771154,0.074007,2.670623,16658.904110,461.643836,12.328767,1850.989346,49.432950
AL,4.90,52695,46863,5832,197,11.067464,0.373850,3.377915,10754.081633,1190.204082,40.204082,54.589247,1.843978
AR,3.02,31590,29125,2465,45,7.803102,0.142450,1.825558,10460.264901,816.225166,14.900662,232.450331,4.243515
AZ,7.28,58697,52928,5769,249,9.828441,0.424212,4.316173,8062.774725,792.445055,34.203297,32.380621,1.397604
CA,39.51,482097,444728,37369,1469,7.751345,0.304710,3.931066,12201.898254,945.811187,37.180461,8.306262,0.326525

In [11]:
state_covid_df.to_csv('./Resources/state_covid.csv')